/* Add a border around the image */
.image-with-border {
    /* Border style: thick, solid line, color purple */
    border-radius: 5px; /* Optional: Add rounded corners for a softer look */
    border-color: purple;
    border-style: solid;
    border-width: 10px;
  }

  .img-container {
      text-align: center;
  }

  .caption {
      /* Red color in italics */
      color: red;
      font-style: italic;
  }